body {
     background-image: url("../image/usa_background.png");
}

div.container{
     display: flex;
     justify-content: center;
     margin: 75px 0px 0px 0px;
}

div#controls{
   text-align:center;
}

span{
     margin: 0px 80px 0px 80px;
}
