body {
     background-color: #333333;
}

div.container{
     display: flex;
     justify-content: center;
     margin: 130px 0px 0px 0px;
     width: 100%;
}

div#controls{
     text-align:center;
     margin: 40px 0px 0px 0px;
}

span{
    margin: 0px 75px 0px 75px;
}
